---
permalink: /guides
layout: plain
---

<div class="landing">
  <div class="container">
    <div class="row d-flex align-items-center mb-4">
      <div class="col-lg-7 col-md-9 guides-hero">
        <h1 class= "title-guides" style="color: #FDDD00;">
            Welcome to Play with Go</h1>
        <p class="lead welcome-par guides-link" style="color: seashell;" >
          A series of hands-on, interactive, browser-based guides that introduce the tools required to work with the Go programming language.
      </div>
      <div class="col-lg-5">
        <div class="d-none d-lg-block">
          <img src="{{site.baseurl}}/images/gopher.png">
        </div>
      </div>
    </div>


    {% assign categories = site.guides-categories %}

    {% for cat in categories %}
    <div class="row">
      <div class="col"><hr class="line"></div>
      <div class="col-auto catego">{{cat}}</div>
      <div class="col"><hr class="line"></div>
    </div>

    <div class="row card-deck">
      {% for post in site.categories[cat] %}
      <div class="col-md-4 card-pad">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <div class="row">
              <div class="col-1">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <div class="col">
                <p class="card-text d-inline time">   {{post.difficulty}}.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1">
                <i class="fa fa-clock-o" style="margin-left: 3px;" aria-hidden="true"></i>
              </div>
              <div class="col">
                <p class="card-text time d-inline" title="Estimated read time">
                {% assign words = post.content | strip_html | number_of_words %}
                {{ words | divided_by: 180 | plus: 1 | times: 2 }} min read.
                </p>
              </div>
            </div>

          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">
            <div class="card-footer fofo">
              Start guide
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  </div>
</div>


