---
permalink: /guides
layout: plain
---

<div class="landing">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-7 col-md-9 ">
        <h1 style="color: #FDDD00;">
            Welcome to Play with Go</h1>
        <p class="lead welcome-par" style="color: seashell;" >
          <code>play-with-go.dev</code> is a series of hands-on, interactive,
          browser-based guides that introduce the tools required to work with
            the Go programming language. It is the natural next step after <a
              href="https://tour.golang.org/">A Tour of Go</a> which introduces
            the language itself. <code>play-with-go.dev</code> covers the
            various subcommands of the <code>go</code> command,
            <code>staticcheck</code> and many other tools that will make
            writing Go programs that much easier and fun!
      </div>
      <div class="col-lg-5">
        <div class="d-none d-lg-block">
          <img src="{{site.baseurl}}/images/gopher.png">
        </div>
      </div>
    </div>


    {% assign categories = site.categories %}

    {% for cat in categories %}
    <div class="row">
      <div class="col"><hr class="line"></div>
      <div class="col-auto catego">{{cat[0]}}</div>
      <div class="col"><hr class="line"></div>
    </div>

    <div class="row card-deck">
      {% for post in cat[1] %}
      <div class="col-md-4 card-pad">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <p class="card-text time"><i class="fa fa-graduation-cap" aria-hidden="true"></i>   {{post.difficulty}}</p>
            <p class="card-text time" title="Estimated read time"> <i class="fa fa-clock-o" aria-hidden="true"></i>
            {% assign words = post.content | strip_html | number_of_words %}
            {{ words | divided_by: 180 | plus: 1 }} min read.
            </p>
          </div>
          <div class="card-footer fofo">
            <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">Start tutorial</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  </div>
</div>


