<div
  class="modal fade"
  id="congratz-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ site.baseurl }}/images/success.png" />
        <h2 class="post-title">
          Congratulations!
        </h2>
        <p class="congratz-text">
          Great work! you are getting closer and closer to archieving your
          goals. Go foward!
        </p>
        <div class="congratz-footer">
          <button type="button" class="text-btn" data-dismiss="modal">
            CLOSE
          </button>
          <div class="share">
            <p class="share-text">Share your archievements</p>
            <a
              href="http://twitter.com/share?url=URL_TO_PAGE&text=TITLE_TO_SHARE&via=TWITTER_USERNAME"
              class="share-link"
              target="_blank"
            >
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a
              href="https://www.facebook.com/sharer/sharer.php?u=http://labs.docker.com"
              class="share-link"
              target="_blank"
            >
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
