

.welcome-title {
margin-top: 5px;
font-size: 68px
}

.welcome-par {
margin-top: 20px;
margin-bottom: 25px;
font-size: 18px;
  b {
    font-weight: bold;
  }
}

.btn-welcome {
text-emphasis-color: var(--navbar-color);
background-color: #ffffff60;
color: white !important;
margin: 15px;
}
.btn-welcome > img,
.btn-welcome > span {
  vertical-align: middle;
}

.btn-navbar{
color: white;
font-size: 24px !important;
background-color: transparent;
  border: transparent;
  padding: 8px;
  &:hover {
   color: #FDDD00;
   background-color: transparent;
  }
  &:focus {
   box-shadow:none !important;
 }
}

.card-pad {
  margin-top: 45px;
  margin-bottom: 5px;
}


.card-deck{
  border: none ;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .25rem;
  padding-bottom: 40px;
}

.landing {
    background: linear-gradient(0deg, var(--docker-color), var(--navbar-color));
}

.catego {
font-family: 'Work Sans', sans-serif;
font-size: 20px;
color: seashell;
font-weight: 500;

}

.line {
  border-color: rgba(255, 245, 238, 0.6);

}

.time {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}


.card-link {
  font-weight: 500;
  &:hover {
    color: #FDDD00 !important;

  }
}

.card {
  border: none;
  font-family: 'Work Sans', sans-serif;
  box-shadow: 0 6px 12px rgba(42, 46, 49, 0.089);

}


.card-text {
  font-size: 14px;
}

.card-title {
  font-size: 24px;

}

.mt-8{
  margin-top: 80px !important;

}

.mt-4{
  margin-top: 40px !important;

}

.nav-link{
  font-family: 'Work Sans', sans-serif;
  color: seashell;
  &:hover {
    color: #FDDD00;
  }
}

.about{
border-right: 1px solid rgba(255, 245, 238, 0.329);
margin-right: 8px;

}


.guides-hero{
  padding-left: 50px;
}

.title-guides{
font-size: 46px;
}

.term-init {
    color: white;
    margin-top: 10px;
}

.guides-link a {
    color: white;
    font-weight: bold;
    &:hover {
        color: #FCE337;
    }
}

.pad {
  padding-left: 40px;
  padding-right: 40px;
}