---
layout: default
---

{% assign terms = page.terms | default: 1 %}
<div class="progress-bar"></div>
<div class="panel-container">
    
    <div class="menu-panel">
        {% include menu.html %}
    </div>

    <div class="panel-left">
        <div class="course-index-button panel-nav" style="padding: 11px 0 0 15px; color: #007d9c; margin-bottom: 10px"> 
            <i class="menu-button fa fa-bars fa-2x pull-left"></i>
            <h4 style="line-height: 30px;" class="course-index-bttn-text">Course Index</h4>
        </div>
        <article class="post content" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            </header>
            <div class="post-content" itemprop="articleBody">
                {{ content }}
            </div>
        </article>
    </div>


    <div class="panel-right">
        <div class="panel-nav">
            <i class="expand-button fa fa-expand pull-right"></i>
            <ul class="nav nav-tabs">
            {% for i in (1..terms) %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="term{{i}}-tab" data-toggle="tab" href="#term{{i}}" role="tab" aria-controls="term{{i}}" aria-selected="true" >T.{{i}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="twrapper"> 
            <div class="splitter"></div>
            <div class="tab-content" id="myTabContent">
                {% for i in (1..terms) %}
                <div class="tab-pane show term{{i}} {% if forloop.first %}active{% endif %}" id="term{{i}}" role="tabpanel" aria-labelledby="term{{i}}-tab"></div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<script>
    var imageName = "{{page.image}}";
    (function() {
        var font3 = document.createElement('link');
        font3.type = 'text/css';
        font3.rel = 'stylesheet';
        font3.href = '{{site.baseurl}}/css/syntax-highlighting.css';
        var q = document.getElementsByTagName('link')[0];
        q.parentNode.insertBefore(font3, q);
    })();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://rawgit.com/RickStrahl/jquery-resizable/master/dist/jquery-resizable.min.js"></script>
<script src="https://cdn.rawgit.com/play-with-docker/sdk/03230c3ebb366ce634c01701d9c369a5c5487b8c/dist/pwd.js"></script>
<script src="{{site.baseurl}}/js/quiz.js"></script>
<script src="{{site.baseurl}}/js/post-layout.js"></script>
<script src="{{site.baseurl}}/js/progress-bar.js"></script>
<script src="{{site.baseurl}}/js/menu.js"></script>
<script src="{{site.baseurl}}/js/feedback-footer.js"></script>
<script src="{{site.baseurl}}/js/import-file.js"></script>
<script src="{{site.baseurl}}/js/dark-mode.js"></script>
<script src="{{site.baseurl}}/js/exit-warning.js"></script>
<script src="{{site.baseurl}}/js/zoom.js"></script>
{% include congratulations.html %}
